/* colors */
$primary: #222e39;
$primaryLight: #e2e8ee;
$white: #ffffff;
$secondary: #fdfdfd;
$dark: #191919;
$error: #cc7171;
$success: #21ab74;
$muted: #555555;
$mutedAlt: #dedede;
$link: #4d94fe;
/* font sizes */
$text-xs: 13px;
$text-sm: 15px;
$text-md: 16px;
$text-lg: 18px;
$text-xl: 20px;
/* breakpoints */
$sm: 480px;
$md: 825px;
$lg: 1024px;
